# Ignorar arquivos de ambiente
.env

# Ignorar ambiente virtual do Python
venv/
backend/venv/

# Ignorar pastas de resultados e PDFs
backend/pdfs/
backend/results/

# Ignorar a pasta 'stuff'
stuff/

# Ignorar arquivos temporários
*.tmp
*.temp

# Ignorar arquivos de log de aplicações
*.log

# Ignorar arquivos de builds e distribuições
dist/
build/

# Ignorar arquivos de backup
*~
*.bak

# Ignorar arquivos de configuração de IDEs
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Ignorar artefatos do Docker
*.tar
*.zip
Dockerfile*

# Ignorar arquivos de dados
*.sqlite
*.db

# Ignorar arquivos de pacotes do sistema
*.egg
*.egg-info/


# Ignorar a pasta 'stuff'
stuff/

# Ignorar o arquivo BFG
bfg.jar

# Ignorar a pasta node_modules
node_modules/
