# Ignorar arquivos de ambiente
.env
*.env

# Ignorar ambiente virtual do Python
venv/
backend/venv/

# Ignorar pastas de resultados e PDFs
backend/pdfs/
backend/results/

# Ignorar a pasta 'stuff'
stuff/

# Ignorar arquivos temporários e de cache
*.tmp
*.temp
*.swp
*.swo
*.DS_Store
*.thumb
*.log

# Ignorar arquivos de backup
*~
*.bak
*.old
*.orig

# Ignorar builds e distribuições
dist/
build/
*.pyc
__pycache__/
*.class
*.o

# Ignorar arquivos de pacotes Python
*.egg
*.egg-info/
*.pyd
*.pyo

# Ignorar arquivos de banco de dados
*.sqlite
*.db

# Ignorar pacotes do sistema e arquivos gerados
*.tar
*.zip
*.rar
*.gz

# Ignorar arquivos de configuração de IDEs
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Ignorar artefatos do Docker
Dockerfile*
docker-compose.yml
*.tar

# Ignorar o arquivo BFG
bfg.jar

# Ignorar a pasta node_modules
node_modules/

# Ignorar dependências de logs ou erros do Git
.git/lfs/objects
*.lock
